@page "/p/{threadId:int}"

@using QuorumDB.Models
@inject AuthenticationStateProvider _auth
@inject Quorum.Data.ApplicationDbContext _context
@inject IForumData _fdata
@inject IThreadData _tdata
@inject IReplyData _rdata
@inject IUserData _udata
@inject UserState _ustate
@inject IJSRuntime _js 
@inject NavigationManager NavManager

<div class="panel panel-default">
    <div class="posts">
        <ul>
            @if (replies is null)
            {
                <li id="loading" class="postwrapper">
                    <div class="postmessage">Loading Data...</div>
                </li>
            }
            else
            {
                <li id="title"><h2>@thread.Title</h2></li>
                <li id="replybutton">
                    <div class="threadcontrols">
                        <a class="btn btn-outline-dark" role="button" data-toggle="modal" data-target="#createReply">Reply</a>
                    </div>
                </li>
                <li id="description" class="postwrapper d-flex">
                    <div class="pr-3">
                        <Avatar UserName="@thread.UserName" />
                    </div>
                    <div>
                        <div class="postdata"> <a href="profile/@thread.UserName">@thread.UserName</a> | Created on @thread.CreatedTime.ToString("G")</div>
                        <div class="postmessage">
                            <Markdown InputText="@thread.Description" />
                        </div>
                    </div>
                </li>

                @if (replies.Count() == 0)
                {
                    <li id="noposts" class="postwrapper">
                        <div class="postmessage">Currently no replies</div>
                    </li>
                }
                else
                {
                    foreach (var reply in replies)
                    {
                        <li id="threadreply" class="postwrapper d-flex">
                            <div class="pr-3">
                                <Avatar UserName="@reply.UserName" />
                            </div>
                            <div class="container p-0">
                                <div class="postdata pt-1">
                                    <a href="profile/@reply.UserName">@reply.UserName</a> | <time class="timeago" datetime="@reply.CreatedTime.ToString("u")">@reply.CreatedTime.ToString("G")</time>
                                    <AuthorizeView >
                                        @if(context.User.Identity.Name == reply.UserName)
                                        {
                                            <span class="oi oi-circle-x btn float-right p-0" @onclick="() => deleteReply(reply.Id)"></span>   
                                        }
                                    </AuthorizeView>
                                </div>
                                <div class="postmessage">
                                    <Markdown InputText="@reply.Text"/>
                                </div>
                            </div>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>

@*This is the modal section*@
<AuthorizeView>
    <Authorized Context="Auth">
        <div class="modal fade" id="createReply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <EditForm EditContext="EC">
                        <DataAnnotationsValidator />
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Reply</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <ValidationSummary />
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-text-tab" data-toggle="tab" href="#nav-text" role="tab" aria-controls="nav-text" aria-selected="true">Text</a>
                                        <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false">Preview</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-text" role="tabpanel" aria-labelledby="nav-text-tab">
                                        <LiveInputText rows="5" id="message-text" placeholder="Message" class="form-control" @bind-Value="replyView.Text" />
                                    </div>
                                    <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
                                        <Markdown InputText="@replyView.Text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            @if (string.IsNullOrEmpty(replyView.Text) == false && EC.Validate())
                            {
                                <button type="button" @onclick="HandleValidSubmit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary">Submit</button>
                            }
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="modal fade" id="createReply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Thread</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Not an authorized user, cannot create a thread</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@functions{
    [Parameter]
    public int threadId { get; set; }

    List<ForumReply> replies;
    ForumThread thread;
    ReplyView replyView = new ReplyView();
    AspNetUser user;
    bool convertedDate = false;

    public EditContext EC { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EC = new EditContext(replyView);
        await FetchData();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (!firstRender && !convertedDate)
        {
            thread.CreatedTime = await _ustate.GetLocalDateTime(thread.CreatedTime);

            foreach (var r in replies)
            {
                r.CreatedTime = await _ustate.GetLocalDateTime(r.CreatedTime);
            }
            convertedDate = true;
            StateHasChanged();
            await _js.InvokeVoidAsync("general.initTimeAgo");
        }

        base.OnAfterRender(firstRender);
    }

    private async Task FetchData()
    {
        var threadsList = await _tdata.GetThreadById(threadId);
        thread = threadsList.FirstOrDefault();

        //Only fetch information if the url is valid
        if (threadsList.Count != 0)
        {
            replies = await _rdata.GetRepliesByThreadId(threadId);
        }
        else
        {
            //tell them to screw off
            NavManager.NavigateTo("404");
        }
    }

    private async Task HandleValidSubmit()
    {
        //get current user
        var authenticationState = await _auth.GetAuthenticationStateAsync();
        var userState = authenticationState.User;
        string userName = userState.Identity.Name;
        var userList = await _udata.GetUserByUserName(userName);
        user = userList.FirstOrDefault();

        ForumReply reply = new ForumReply();

        //Assign the view model to the database model
        reply.Text = replyView.Text;
        reply.ThreadId = threadId;
        reply.UserId = user.Id;
        reply.UserName = user.UserName;

        try
        {
            _context.ForumReplies.Add(reply);
            await _context.SaveChangesAsync();

            replies = await _rdata.GetRepliesByThreadId(threadId);
            replyView = new ReplyView();
            EC = new EditContext(replyView);
            StateHasChanged();

            await _js.InvokeVoidAsync("general.initTimeAgo");
            await _rdata.UpdateLastActivity(threadId).ConfigureAwait(false);
        }
        catch (Exception e)
        {
            //Suppose to log stuff but we'll do that later
            Console.WriteLine(e.Message);
            StateHasChanged();
        }
    }

    private async Task deleteReply(int replyId)
    {
        await _rdata.DeleteReplyById(replyId);
        replies = await _rdata.GetRepliesByThreadId(threadId);
        StateHasChanged();
    }
}